Jinja2==2.8
MarkupSafe==0.23
Pygments==2.0.2
Scrapy==1.0.3
Twisted==15.4.0
appnope==0.1.0
backports.ssl-match-hostname==3.4.0.2
certifi==2015.09.06.2
cffi==1.2.1
characteristic==14.3.0
cryptography==1.0.2
cssselect==0.9.1
decorator==4.0.4
enum34==1.0.4
gnureadline==6.3.3
idna==2.0
ipaddress==1.0.14
ipykernel==4.1.0
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.0.3
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
lxml==3.5.0b1
meteor-ejson==1.1.0
mistune==0.7.1
nbconvert==4.0.0
nbformat==4.0.1
notebook==4.0.6
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pyOpenSSL==0.15.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pyee==1.0.1
python-ddp==0.1.5
python-meteor==0.1.6
pyzmq==14.7.0
qtconsole==4.0.1
queuelib==1.4.2
service-identity==14.0.0
simplegeneric==0.8.1
six==1.10.0
tornado==4.2.1
traitlets==4.0.0
w3lib==1.12.0
ws4py==0.3.4
wsgiref==0.1.2
zope.interface==4.1.3
