PyDispatcher==2.0.5
Scrapy==1.1.0rc1
Twisted==15.5.0
cffi==1.5.0
characteristic==14.3.0
cryptography==1.2.2
cssselect==0.9.1
enum34==1.1.2
idna==2.0
ipaddress==1.0.16
lxml==3.5.0
meteor-ejson==1.1.0
parsel==1.0.1
pyOpenSSL==0.15.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pyee==1.0.1
pymongo==3.0.3
python-ddp==0.1.5
python-meteor==0.1.6
queuelib==1.4.2
regex==2015.10.05
service-identity==14.0.0
six==1.10.0
w3lib==1.13.0
ws4py==0.3.4
wsgiref==0.1.2
zope.interface==4.1.3
